<form ng-submit="controller.addBill()">
    <table class="table-responsive table-hover tableTemplate tbody-td">
        <caption><strong><u>Fill in the fields below to add a new bill</u></strong></caption>
        <thead>
            <tr>
                <th>Category</th>
                <th>Input</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" class="input-sm" ng-model="controller.bill.name" />
                </td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>
                    <input type="text" class="input-sm" ng-model="controller.bill.amount" />
                </td>
            </tr>
            <tr>
                <td>Budget</td>
                <td>
                    <select ng-model="controller.bill.budget.id" ng-options="bud.id as bud.name for bud in controller.budgets">
                        <option>Select a Budget</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn-default btn-sm">Add Bill</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>