<form ng-submit="controller.addGoal()">
    <table class="table-responsive table-hover tableTemplate tbody-td">
        <caption>Fill in the fields below to add a new goal</caption>
        <thead>
            <tr>
                <th>Category</th>
                <th>Input</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" class="input-sm" ng-model="controller.goal.name" />
                </td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>
                    <input type="text" class="input-sm" ng-model="controller.goal.amount" />
                </td>
            </tr>
            <tr>
                <td>Budget</td>
                <td>
                    <select ng-model="controller.goal.budget.id" ng-options="goal.id as goal.name for goal in controller.budgets">
                        <option>Select a Budget</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn-default btn-sm">Add Goal</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>