<div>
    <table class="table-responsive table-hover tableTemplate tbody-td">
        <caption>{{controller.budget.name}} Budget</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th><button ui-sref="home" class="btn-sm btn-default">Return Home</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><u>Income</u></td>
                <td></td>
                <td>
                    <button class="btn-sm btn-default" ui-sref="addIncome">
                        Add Income
                    </button>
                </td>
            </tr>
            <tr ng-repeat="income in controller.budget.incomes">
                <td>{{income.name}}</td>
                <td class="positive">
                    ${{income.amount}}
                </td>
                <td>
                    <i class="material-icons button edit" ui-sref="editIncome({id: income.id})">edit</i> 
                    <i class="text-right material-icons button delete" ng-click="controller.deleteIncome(income.id)">delete</i>
                </td>
            </tr>
            <tr>
                <td><u>Bills</u></td>
                <td></td>
                <td>
                    <button class="btn-sm btn-default" ui-sref="addBill">
                        Add Bill
                    </button>
                </td>
            </tr>
            <tr ng-repeat="bill in controller.budget.bills">
                <td>{{bill.name}}</td>
                <td class="negative">
                    $({{bill.amount}})
                </td>
                <td>
                    <i class="material-icons button edit" ui-sref="editBill({id: bill.id})">edit</i>
                    <i class="text-right material-icons button delete" ng-click="controller.deleteBill(bill.id)">delete</i>
                </td>
            </tr>
            <tr>
                <td><u>Goal Contributions</u></td>
                <td></td>
                <td>
                    <button class="btn-sm btn-default" ui-sref="addGoal">
                        Add Goal
                    </button>
                </td>
            </tr>
            <tr ng-repeat="goal in controller.budget.goals">
                <td>{{goal.name}}</td>
                <td class="negative">
                    ${{goal.amount}}
                </td>
                <td>
                    <i class="material-icons button edit" ui-sref="editGoal({id: goal.id})">edit</i>
                    <i class="text-right material-icons button delete" ng-click="controller.deleteGoal(goal.id)">delete</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>